@import "settings";

/* From Google Fonts */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v7/IIPDrwV5KNJo5-LaFlLy2fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v7/78wGxsHfFBzG7bRkpfRnCQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

html {
  background-color: $bg;
  background: url(~assets/img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  color: $black;
  font-family: $font;
  font-size: 18px;
}

a {
  color: $link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.page-enter-active, .page-leave-active {
  transition-property: opacity;
  transition-duration: .2s;
}

.page-enter-active {
  transition-delay: .2s;
}

.page-enter, .page-leave-active {
  opacity: 0
}

.cta {
  a {
    background: $accent;
    font-size: 1.5rem;
    color: $white;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: 2px solid $white;
    white-space: nowrap;
    cursor: default;
    &:hover {
      background: linear-gradient(darken($accent, 9), $accent);
      text-decoration: none;
    }
  }
}
