@import "settings";

%page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
  > * {
    margin: 1em;
  }
  > h1 {
    text-align: left;
    width: calc(100% - 2rem);
    max-width: calc(60rem - 2rem);
    margin: 2rem auto;
    padding: 0 1rem 0.5rem 1rem;
    color: $title;
    border-bottom: 4px solid $title;
  }
}

%box {
  background: linear-gradient(180deg, transparentize($white, 0.5), $white);
  border-radius: 0.5rem;
  width: 100vw;
  max-width: 60rem;
  line-height: 1.55;
  $space: 1rem;
  > h1, > h2 {
    color: $title;
    margin: $space $space 0 $space;
    padding: 0 0 0.5rem 0;
    border-bottom: 4px solid $title;
    &.flush {
      padding: 0 $space 0.5rem $space;
      margin: $space 0 0 0;
    }
  }
  p {
    padding: 0 $space;
  }
  ul {
    padding: 0 $space 0 $space*3;
    li {
      margin-bottom: 0.5em;
      list-style-type: square;
    }
  }
  p.cta {
    display: flex;
    justify-content: center;
    margin: 2em 0;
    a {
      background: $title;
      font-size: 1em;
      &:hover {
        background: linear-gradient(darken($title, 9), $title);
      }
    }
  }
  img.feature {
    float: right;
    max-width: 20em;
    max-height: 20em;
    @media (max-width: $mobile) {
      max-width: 15em;
      max-height: 15em;
    }
  }
}
